.signinButton {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
}

.signinButton button {
    width: 200px;
    height: 60px;
    background-color: #e2e3e4;
    border: solid 1.5px #bdbdbd;
    color: #414141;
    font-family: "inter", sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}

a {
    text-decoration: none;
}


