.signinButton {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
}

.signinButton button {
    width: 200px;
    height: 60px;
    background-color: var(--bg-color);
    border: solid 1.5px #c9c9c9;
    color: #525252;
    font-family: "inter", sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}

a {
    text-decoration: none;
}


