.navbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background: #f2f2f2;
    box-shadow: 9px 9px 12px #d7d7d7,
                -9px -9px 12px #ffffff;
}

.navbarItem:active {
    border-radius: 100px;
    background: var(--bg-color);
    box-shadow: inset 9px 9px 23px #dfdfdf,
                inset -9px -9px 23px #ffffff
}